<%= form_with(model: @pokemon) do |form| %>
  <div class="row">
    <div class="form-group col-lg-5">
      <%= form.label :name, 'Nom', class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group col-lg-5">
      <%= form.label :number, 'Numéro', class: 'form-label' %>
      <%= form.text_field :number, class: 'form-control' %>
    </div>
    <div class="form-group col-lg-5">
      <%= form.label :level, 'Niveau', class: 'form-label' %>
      <%= form.text_field :level, class: 'form-control' %>
    </div>
    <div class="form-group col-lg-5">
      <%= form.label :health_points, 'Points de vie', class: 'form-label' %>
      <%= form.text_field :health_points, class: 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit 'Enregistrer', class: 'btn btn-primary' %>
  </div>
<% end %>