<%= simple_form_for(@pokemon) do |form| %>
  <div class="row">
    <div class="form-group col-lg-5">
      <%= form.input :name, class: 'form-control', label: 'Nom' %>
    </div>
    <div class="form-group col-lg-5">
      <%= form.input :number, class: 'form-control', label: 'Numéro' %>
    </div>
    <div class="form-group col-lg-5">
      <%= form.input :level, class: 'form-control', label: 'Niveau' %>
    </div>
    <div class="form-group col-lg-5">
      <%= form.input :health_points, class: 'form-control', label: 'Point de vie' %>
    </div>
    <div class="form-group col-lg-5">
      <%= form.association :type, class: 'form-control', label: 'Type' %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit 'Enregistrer', class: 'btn btn-primary' %>
  </div>
<% end %>