<h1>La liste des pokemons</h1>

<% if @pokemons.any? %>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Attaques</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= pokemon.id %></td>
        <td><%= pokemon.name %></td>
        <td>
          <% if pokemon.type.nil? %>
            &empty;
          <% else %>
            <%= type_badge pokemon.type.name, pokemon.type.color %>
          <% end %>
        </td>
        <td><%= render 'moves/moves_list', moves: pokemon.moves %></td>
        <td>
          <%= link_to 'Afficher', pokemon, class: 'btn btn-info' %>
          <%= link_to 'Modifier', edit_pokemon_path(pokemon), class: 'btn btn-warning' %>
          <%= link_to 'Supprimer', pokemon, method: :delete,
                      data: {
                          confirm: 'Êtes-vous sûr(e) de vouloir supprimer ce Pokemon ?'
                      },
                      class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    Il n'y a pas de pokemon
  </p>
<% end %>

<p>
  <%= link_to 'Ajouter', new_pokemon_path, class: 'btn btn-warning' %>
</p>
