<div class="row">
  <div class="col-md-12">
    <h1>Liste des pokémons</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @pokemons.any? %>
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>
            <div class="col-md-2 col-md-offset-10">Action</div>
          </th>
        </tr>
        </thead>
        <tbody>
        <% @pokemons.each do |pokemon| %>
          <tr>
            <td><%= pokemon.id %></td>
            <td><%= pokemon.name %></td>
            <td>
              <div class="btn-group pull-right">
                <a href="<%= pokemon_path pokemon %>" class="btn btn-success">
                  Détails
                </a>
                <a href="<%= edit_pokemon_path pokemon %>" class="btn btn-info">
                   Éditer
                </a>
                <%= link_to 'Supprimer', pokemon,
                            method: :delete,
                            data: {
                                confirm: 'Êtes-vous sûr(e) de vouloir supprimer ce Pokemon ?'
                            },
                            class: 'btn btn-danger'
                %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-info" role="alert">
        Aucun pokemon. :(
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-6">
    <a href="<%= new_pokemon_path %>" type="button" class="btn btn-default pull-right">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un pokemon
    </a>
  </div>
</div>