<h1> Le pokemon : </h1>

<p>Nom : <%= @pokemon.name %></p>
<p>Level : <%= @pokemon.level %></p>
<p>Number : <%= @pokemon.number %></p>
<p>Health Points : <%= @pokemon.health_points %></p>

<p>
  <% type = @pokemon.type %>
  Type :
  <% if type.nil? %>
    Non défini.
  <% else %>
    <%= type_badge(type.name, type.color) %>
  <% end %>
</p>

<p>
  <%= link_to 'Retour à la liste des pokemons', pokemons_path, class: 'btn btn-default' %>
</p>
